# **20.06.2024 Class 11**

# **PANDAS**
- **Problems**
    - [101 Pandas Problems - machinelearningplus](https://www.machinelearningplus.com/python/101-pandas-exercises-python/)

## What does Pandas do?

It's Data Manipulatin Library, it preprocessosing and analyzing data.

In [25]:
# to install Pandas write it in terminal
# pip install pandas 

# to import pandas
import pandas as pd

# importing numpy
import numpy as np

# importing sns
import seaborn as sns

## Preprocessing Data?
- Cleaning
- Finding Duplicates
- Changing data types : Columns
- Adding and removing columns
- Ploting charts


## Analyzing Data?
- Finding Central Tendencies
- Grouping  the data
- Finding Distribution
- Describing Data
- Pivoting the Data
- Finding correlation between columns.

## Types of data structuress in Pandas?
***Series*** (always **1D** array) and ***Dataframes*** (always **2D** nd array)


> **String** in pandas are operated as **object data type**.
- str is a subset of object.

Look at the data type in below cell you will get it!

In [26]:
npToseries = pd.Series("npArr")
npToseries

0    npArr
dtype: object


### **Array vs Series?** Series is named list which is indecies are keys.

- Series is a column in a dataframe
    - Series is like a list of pandas.
    - Series = named list (list of key-values pairs where index is the key of Serise)

> Below we have a Series(list of pandas) with name "Age"

> Inside that list all elements have a name called 0,1,2 respectively i.e, Index (of Series)

In [27]:
ageLs = [22, 35, 58]
print(ageLs)

[22, 35, 58]

In [28]:
ages = pd.Series(ageLs, name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

## Creating Series ?

In [29]:
months = ['Jan', 'Feb', 'Mar', 'Apr', "May"]
s2 = pd.Series(months)
s2

0    Jan
1    Feb
2    Mar
3    Apr
4    May
dtype: object

with defined index?

In [30]:
dateOfMonths = pd.Series([31,28,31,30,31], index = ['Jan', 'Feb', 'Mar', 'Apr', "May"])
dateOfMonths

Jan    31
Feb    28
Mar    31
Apr    30
May    31
dtype: int64

In [31]:
dateOfMonths.index

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May'], dtype='object')

In [32]:
dateOfMonths.values

array([31, 28, 31, 30, 31], dtype=int64)

In [33]:
s3 = pd.Series([1,2,3,4,5,6])
s3

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [34]:
s3.index = ["A","B","C","D","E","F"]  #type:ignore
s3

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

## How to create series from numpy arrays?

In [35]:
npToseries = pd.Series(np.random.randint(101,105,10), index = [200,400,2500,6544,1567,5646,4654,6544,8778,6312])
npToseries

200     104
400     101
2500    104
6544    102
1567    104
5646    104
4654    101
6544    103
8778    104
6312    101
dtype: int32

Analysing it with mean median mode max and min

In [36]:
npToseries.mean()

102.8

In [37]:
npToseries.median()

103.5

In [38]:
npToseries.mode()

0    104
dtype: int32

In [39]:
npToseries.max()

104

In [40]:
npToseries.min()

101

In [41]:
npArr = ["Ram","Sham","Seeta","Geeta"]

npToseries = pd.Series(npArr)
npToseries

0      Ram
1     Sham
2    Seeta
3    Geeta
dtype: object

Naming a Series or Dataframe

In [42]:
npToseries.name = "EmpName"

In [43]:
npToseries
# check the property called name below

0      Ram
1     Sham
2    Seeta
3    Geeta
Name: EmpName, dtype: object

## NumPy Array vs. Pandas Series?
NumPy Array
NumPy arrays are designed for numerical computations and scientific computing. They are highly efficient for handling large datasets and performing array-wise operations. The key features of NumPy arrays, such as homogeneity and multi-dimensionality, make them suitable for tasks where mathematical precision and performance are critical.

Pandas Series
The Pandas Series, on the other hand, provides a more flexible and labeled approach to handling one-dimensional data. While they are built on NumPy arrays, Pandas Series offer additional functionality, especially in scenarios where data has different types and requires labeled indexing. This makes the Pandas Series ideal for data manipulation, exploration, and analysis in diverse datasets.

Choosing Between NumPy Array and Pandas Series
The choice between NumPy arrays and Pandas series depends on the nature of the data and the tasks at hand. If you are working with numerical data and require high-performance mathematical operations, NumPy arrays are the go-to choice. On the other hand, if your dataset is heterogeneous, involves labeled indexing, and requires more flexibility in data manipulation, Pandas Series might be the preferred option.

## Creating Dataframes?

Dataframes donot have a name, they contain different Series as columns.

##### Dictionary of list to Df?

In [44]:
#   dict = {key : List[],key : List[],key : List[],key : List[],}

dictOfList = {
    "name":["ram", 'sham', 'sita','gita','ramesh','suresh'],
    'city':['Pune', 'satara', 'auragabad','mumbai','nagpur','kolhapur'],
    'contact':[34553,76575,22433,98779,56455,23334],
    'data_admin':['data_analytics', 'data_science','data_warehousing',
                   'data_admin', 'big_data_analytics','data_engineering']
}

In [45]:
df1 = pd.DataFrame(dictOfList)
df1

     name       city  contact          data_admin
0     ram       Pune    34553      data_analytics
1    sham     satara    76575        data_science
2    sita  auragabad    22433    data_warehousing
3    gita     mumbai    98779          data_admin
4  ramesh     nagpur    56455  big_data_analytics
5  suresh   kolhapur    23334    data_engineering

##### List of Dictiionary to Df?

In [46]:
#   list[{key:value},{key:value},{key:value},{key:value}]
listOfDict =[
    {'Name':"ram", 'month':'january','sales':56676},
    {'Name': 'sham', 'month':'january', 'sales':54676},
    {'Name':'sita', 'month':'february','sales': 89676}
]

df2 = pd.DataFrame(listOfDict)
df2

   Name     month  sales
0   ram   january  56676
1  sham   january  54676
2  sita  february  89676

## Difference and simillarity in JSON & Dictionary?
Dictionaries, native to Python, are employed for in-memory data structures, allowing direct manipulation. In contrast, JSON serves as a standardized string-based format, vital for data exchange between systems.

Distinct in their data types, dictionaries offer in-memory flexibility, while JSON, with its string format, excels in interoperability. Below we will see differences in the form of a table.

## Import .csv and .xlsx with pandas?

##### What is the significance or "r'()"?
using r'() helps accepting **forward slash("/")** and if we remove r'() <br> we have to give address with **backward slash("\")** .

In [47]:
df4 = pd.read_csv(r'files/csv_file.csv')
df4

FileNotFoundError: [Errno 2] No such file or directory: 'files/csv_file.csv'

In [55]:
df5 = pd.read_excel(r"Images\SampleSuperstore.xlsx")
df5

FileNotFoundError: [Errno 2] No such file or directory: 'Images\\SampleSuperstore.xlsx'

# **26.06.2024 Class 12**

# Methods of Pandas?

### How to Avoiding warnings?

In [ ]:
from logging import warning
import warnings

warnings.filterwarnings("ignore")

### How impot data by / via pandas?

In [52]:
# importing data to use
df = pd.read_excel("")

FileNotFoundError: [Errno 2] No such file or directory: 'Images/SampleSuperstore.xlsx'

## Head()?
Gives out first 5 rows of df  as output

In [ ]:
df.head(2)

## tail()?
Gives out last 5 rows of df  as output

In [ ]:
df.tail(2)

## sample()?
Returns randomly selected rows from dataframe.

In [ ]:
df.sample(2)

## info()?
> always count non-values properly

In [ ]:
df.info()

## isna()? 
to find na values column wise

In [ ]:
df.isna()

In [ ]:
df.isna().sum()

## dropna()?
Used to drop rows with "na" values
- ---------- study it's parameters

In [ ]:
df.dropna()
df

In [ ]:
df.dropna(inplace=True)
df

## duplicated()
to find duplicated values

In [ ]:
df.duplicated()

In [ ]:
df.duplicated().sum()

## drop()?

In [ ]:
# if one of the columns is to be droped just provide column name in ""
# if more than 1 column to be droped provide column name in list as shown below
# axis =1 means that we as droping column
# axis = 0 means we droping rows
# inplace = True 
df.drop(['Row ID', 'Order ID', 'Customer ID', 'Product ID'], axis=1, inplace= True)

> once we use toggle **inplace = True** then it will not revert back the changes are committed to the df

> **axis = 1** (column wise)    <br>    **axis = 0** (row wise)

> 1 or more in all cases give column names in **list** to **drop** them

In [ ]:
df.head()

## taking out single column from df?
it let's us apply methods we could apply on a series

In [49]:
df["Customer Name"]

NameError: name 'df' is not defined

In [ ]:
# as u may remember single column in df is Series
type(df["Customer Name"])

important operation on df

## How to find only unique values?

In [48]:
df["Customer Name"].unique()

NameError: name 'df' is not defined

In [ ]:
df['Customer Name'].value_counts()

NameError: name 'df' is not defined

In [ ]:
df["Sales"]

In [ ]:
df["Sales"].sum()

In [ ]:
df["Sales"].mean()

In [ ]:
df["Sales"].min()

In [ ]:
df["Sales"].max()

In [ ]:
df[['City','State','Region']]

> why passing **list inside list** while calling multiple columns?
- Using a list inside another list helps pandas differentiate between a single column and multiple columns.<br> If you were to use a single set of brackets, it would be ambiguous whether you were referring to one column or multiple columns.

## What does **values / count_values()** do?

In [ ]:
# just for understanding
df['Ship Mode'].values

In [ ]:
df['Ship Mode'].value_counts()

In [ ]:
df['Segment'].value_counts()

In [ ]:
df['Segment'].value_counts().values

In [ ]:
df['Segment'].value_counts().index

In [ ]:
df['Segment'].name

> "Segment" is name of this "Series"

> Series can be renamed if needed

In [ ]:
df['Segment'].value_counts().name

>check .value_count() cell above for reference

>"count" is name of the values(numbers) displayed

## sort_values()?

## Why sometimes we use functions with () and sometimes we don't?
example below:
- .value_count()  
    - it's a **function** being accessed
- .value_count().values
    - it's a **variable** being accessed

## .reset_index()?
even when we drop certain rows in a df the **index will be same** if we check df.info() so we use .reset_index() <br> 
and then the index with corrected!
> when we do this the previous index is added as column in df

In [ ]:
df.reset_index()

> to not add previous index to df as column there is a parameter "drop=True" as shown below

> Then we use inplace = True to commit it to memory

In [ ]:
df.reset_index(drop=True, inplace=True)

## replace()?
replace values in columns of df?

In [ ]:
# Changing 'Second Class' to 'Second'
df['Ship Mode'].replace("Second Class",'Second')

In above case we will have to run code thrice for each class
so we will try to remove 'class' from all values in 'Ship Mode'

Removing certain keyword

In [ ]:
df['Ship Mode'].str.replace("Class","")

> in above code :
>    - we converted "Ship Mode" Series values into "str" and then we replaced segment of the str "Class" to ""(empty space).

## **Without using inplace = True** we can commit to memory by like this?

In [ ]:
df['Ship Mode'] = df['Ship Mode'].str.replace("Class","")

## **groupby()?**
##### By which "Ship Mode" (way of shipping) do we get most sales?

In [ ]:
round(df.groupby("Ship Mode")['Sales'].sum())

In [ ]:
round(df.groupby("Ship Mode")['Sales'].mean())

In [ ]:
round(df.groupby("Ship Mode")['Sales'].median())

In [ ]:
round(df.groupby("Ship Mode")[['Sales','Quantity','Profit']].sum())

## crosstab()?
analyzing segment data against Region data?

In [ ]:
pd.crosstab(df['Segment'],df['Region'])

In [ ]:
pd.crosstab(df['Segment'],df['Region']).sum()

In [ ]:
pd.crosstab(df['Segment'],df['Region']).sum().sum()

## pivot_table()?

pd.**pivot_table**(**data**, **values**=None, **index**=None, **columns**=None,<br>
 **aggfunc**='mean',**fill_value**=None, **margins**=False, **dropna**=True,<br>
  **margins_name**='All')

- **data**: The DataFrame to pivot.
- **values**: Column(s) to aggregate.
- **index**: Column(s) to set as index.
- **columns**: Column(s) to pivot.
- **aggfunc**: Function to aggregate the data (e.g., 'mean', 'sum', 'count').
- **fill_value**: Value to replace missing values.
- **margins**: Add all rows/columns.
- **dropna**: Do not include columns whose entries are all NaN.
- **margins_name**: Name of the row/column that will contain the totals when margins is True.

In [ ]:
pd.pivot_table(df,index='Category',columns='Segment', values='Sales', aggfunc='sum')

In [ ]:
pd.pivot_table(df,index='Category',columns='Segment', values='Sales', aggfunc='mean')

In [ ]:
# Show sorted total profit according to sub-category
df.groupby("Sub-Category")['Profit'].sum().sort_values(ascending=False)

## GroupBy vs Pivot table vs Cross table?

**GroupBy**

**Purpose**:
- Used on numerical data!
- Focusing on subsets of data!
- Big data sets

The groupby method is used to split the data into groups based on some criteria, apply a function to each group independently, and then combine the results.

**Use Cases:**

Aggregating data by one or more keys.
Applying custom aggregation functions.
Performing group-wise operations like transformations or filtering.


Example:

In [ ]:
data = {
    'Date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02'],
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles'],
    'Sales': [200, 150, 300, 250]
}

df = pd.DataFrame(data)

# Group by 'City' and calculate the sum of 'Sales'
grouped = df.groupby('City')['Sales'].sum()
print(grouped)

**Pivot Table**
**Purpose:**
- Used on numerical data!
- For large datasets
- Summarizing large data

Pivot tables are used to reshape and summarize data. They can aggregate multiple columns and display the results in a tabular format with rows and columns.

**Use Cases:**

Creating summary tables with multiple aggregations.
Handling both numeric and categorical data.
Generating multi-dimensional summaries.

**Example:**

In [ ]:
# Creating a pivot table
pivot_table = pd.pivot_table(df, values='Sales', index='Date', columns='City', aggfunc='sum')
print(pivot_table)

**Cross Table (Crosstab)**

**Purpose:**
- Used on categorical data!
- For Small datasets 
- Analysing relationships and data frequencies in categories

Cross tables, or crosstabs, are used to compute simple cross-tabulations of two (or more) factors. They are especially useful for analyzing categorical data and their frequency distributions.

**Use Cases:**

Counting occurrences of combinations of categories.
Aggregating data with a specific focus on the frequency of categories.
Comparing categorical data across different groups.

**Example:**

In [ ]:
# Create a cross table to count the occurrences of each 'City' on each 'Date'
cross_tab = pd.crosstab(df['Date'], df['City'])
print(cross_tab)

### Choosing Between Pivot table and Cross table?

Use pivot tables when you need interactive and dynamic analysis of data with the ability to explore multiple dimensions and customize reports.
Use cross tables when you need to analyze categorical data, examine relationships, or prepare data for statistical testing.

## How do I select a subset of the dataframe?

> using **.loc()** and **iloc()** is faster than normal pandas

Selecting or filtering specific rows and/or columns? Filtering the data on a condition? Methods for slicing, selecting, and extracting the data you need are available in pandas.
![image.png]()

In [ ]:
titanic = sns.load_dataset("titanic")
titanic.head(1)

In [ ]:
# To select a single column, use square brackets [] with the column name of the column of interest.
ages = titanic["age"]
ages.head()

> To select multiple columns, use a list of column names within the selection brackets [].

In [ ]:
age_sex = titanic[["age", "sex"]]
age_sex

In [ ]:
type(titanic[["age", "sex"]])

In [ ]:
titanic[["age", "sex"]].shape

## How do I filter specific rows from a DataFrame?

> To select rows based on a conditional expression, use a condition inside the selection brackets [].

In [ ]:
titanic["age"] >= 35

In [ ]:
# print whole table where age is more than 35 years
titanic[titanic["age"] >= 35]

In [ ]:
# making changes to df
above_35 =titanic[titanic["age"] >= 35]

## How do I select specific rows and columns from a DataFrame?

In [ ]:
titanic[titanic["age"] > 18][["sex", "pclass", "age"]]

In [ ]:
# column names to list
titanic.columns.tolist()

In [ ]:
# where pclass is 2 or 3 return True
titanic["pclass"].isin([2,3])

In [ ]:
above_35_class_23 = titanic[(titanic["pclass"].isin([2,3])) & (titanic["age"] > 35)]
above_35_class_23.head()

In [ ]:
age_no_na = titanic[titanic["age"].notna()]
age_no_na.head()

## How do I select specific rows and columns from a DataFrame?

In [ ]:
adult_names_cond = titanic.loc[titanic["age"] > 18, [len(x) < 5 for x in titanic.columns.tolist()]]
adult_names_cond.head()

In [ ]:
# BETTER WAY - MORE EFFICIENT
adult_names_list = titanic.loc[titanic["age"] > 18, ["sex", "age", "fare"]]
adult_names_list.head()

## What are the `loc` and `iloc` operators? what are they? why are they?
The loc/iloc operators are required in front of the selection brackets []. When using loc/iloc, the part before the comma is the rows you want, and the part after the comma is the columns you want to select.

**loc** is how we index Series and Dataframes

loc is more frequently used than iloc

In [ ]:
titanic.iloc[10:20, 2:5] # inclusive start : exclusive end

In [ ]:
titanic.iloc[0:3, 3] = "anonymous"
titanic.head()

## Creating new columns derived from existing columns?

![image.png]()

In [ ]:
titanic = sns.load_dataset('Titanic')
titanic.head(2)

In [ ]:
titanic['halfAge'] = titanic['age']*2
titanic

## How can I rename the columns?

In [ ]:
newtitanic = titanic.rename(
    columns={
        'survived':'bachgaye',
        'age':'umar'
    }
)
newtitanic.head()

## How can I aggregate by groups?


![image.png]()

## Concatenate two tables?

## sort Dataframe?

## Joining Tables with common identifier?

In [ ]:
# Filter the data to include only passengers who survived
survived_passengers = titanic_df[titanic_df['Survived'] == 1] # type: ignore

# **27.06.2024 Class 13**

# **MATPLOTLIB**

#### How to install matplotlib?

In [ ]:
#!pip install matplotlib

# import matplotlib
import matplotlib.pyplot as plt

### How to create **Line plot**?

In [ ]:
 # lineplot

# data 
x1 = np.random.randint(40,99,100)
y1 = np.arange(100)

In [ ]:
# ploting
plt.figure(figsize=(20,4))
plt.xlabel("No. of Days")
plt.title("Sales by days")
plt.plot(y1,x1 , color = 'red', linestyle = "--", 
         marker = "o", markersize = 6, markerfacecolor = "blue")
plt.show()

### How to create **Bar plot** ?

In [ ]:
# Bar plot

# Data
sales = np.random.randint(100,500,6)
salesperson = ["ram",'sham', "seeta", "geeta", "ramesh", 'suresh']

In [ ]:
# plot
from turtle import color


plt.bar(salesperson, sales , color=["red", "blue", 'green', "yellow", 'purple'])
plt.xlabel("Salesperson")
plt.ylabel("Sales")
plt.title("Sales by Salesperson")
plt.show()

## How to plot **Scatter plot**?

> insight : grid must be used with scatter plot

In [ ]:
# Data
sales = np.random.randint(1,10,20)*10000
profit = np.random.randint(100,400,20)
quantity = np.random.randint(1,6,20)

what do scatter() s and c paratmeter?

In [ ]:
# plot
plt.figure(figsize=(10,5))
plt.scatter(sales, profit, s=quantity*100, c=quantity*100)
plt.xlabel("Sales")
plt.ylabel("Profit")
plt.title('Sales vs Profit')
plt.grid(axis = 'y')
plt.show()

## How to make **Pie plot** ?

In [ ]:
states = ['Maharashtra','AndhraPradesh', 'Gujrat', 'WestBengal', 'Kerela']
gdp = np.random.randint(10,30,5)

In [ ]:
# plot
plt.title("GDP Distribution")
# how to give color theme?
plt.pie(gdp, labels = states, autopct="%.2f%%", explode=[0.3, 0,0,0,0], shadow = True)
plt.show()

## How to make **Box plot**?

In [ ]:
#Data
data = np.random.normal(165,14,500)

In [ ]:
#Plot

plt.figure(figsize=(10,4))
plt.xticks(range(140,200,5))
plt.grid(axis = 'x')
plt.boxplot(data, vert = False)
plt.title("Height Data Describe")
plt.show()

![boxplot](images/Box%20plot.PNG)
>Normal data range?

>Inter Quartile Range?       

>Outliers?

## IQR
By using the IQR to define these bounds rather than simple minimum and maximum values (as with the range), we create a measure of spread that is more robust against extreme values and outliers in the dataset. This method is commonly used in statistical analysis to ensure that extreme values do not unduly influence interpretations or conclusions drawn from the data.
[IQR](https://chatgpt.com/share/210641bf-d98c-4920-912a-59913067a484)

In [ ]:
# what happend here?
s = pd.Series(data)

In [ ]:
# what does quantile do?
q1 = s.quantile(0.25)
q3 = s.quantile(0.75)
q1,q3

In [ ]:
IQR = q3-q1
IQR

In [ ]:
lower_bound = q1 - 1.5*IQR
upper_bound = q3 + 1.5*IQR

lower_bound, upper_bound

In [ ]:
plt.figure(figsize=(10,4))
plt.xticks(range(140, 200, 5))
plt.grid(axis = 'x')
plt.axvline(lower_bound) # axvline plots vertical line
plt.axvline(upper_bound)
plt.boxplot(data, vert=False)
plt.title('Height Data Desciption')
plt.show()

## How to make **Histogram**?

In [ ]:
plt.hist(data, bins=50)  # what is bin?
plt.show()

# Add DataFrames?
# concat dataframes?

# Different Types of Joins in Pandas?

## inner join
![alt](Images/innerJoin.png)

In [ ]:

# Creating dataframe a
a = pd.DataFrame()
 
# Creating Dictionary
d = {'id': [1, 2, 10, 12],
     'val1': ['a', 'b', 'c', 'd']}
 
a = pd.DataFrame(d)
 
# Creating dataframe b
b = pd.DataFrame()
 
# Creating dictionary
d = {'id': [1, 2, 9, 8],
     'val1': ['p', 'q', 'r', 's']}
b = pd.DataFrame(d)
 
# inner join
df = pd.merge(a, b, on='id', how='inner')
 
# display dataframe
df

## Left join
![left join](Images/left-join.png)

In [ ]:
# Creating dataframe a
a = pd.DataFrame()
 
# Creating Dictionary
d = {'id': [1, 2, 10, 12],
     'val1': ['a', 'b', 'c', 'd']}
 
a = pd.DataFrame(d)
 
# Creating dataframe b
b = pd.DataFrame()
 
# Creating dictionary
d = {'id': [1, 2, 9, 8],
     'val1': ['p', 'q', 'r', 's']}
b = pd.DataFrame(d)
 
# left outer join
df = pd.merge(a, b, on='id', how='left')
 
# display dataframe
df

## Right Join
![alt](Images/rightJoin.png)

In [ ]:
# Creating dataframe a
a = pd.DataFrame()
 
# Creating Dictionary
d = {'id': [1, 2, 10, 12],
     'val1': ['a', 'b', 'c', 'd']}
 
a = pd.DataFrame(d)
 
# Creating dataframe b
b = pd.DataFrame()
 
# Creating dictionary
d = {'id': [1, 2, 9, 8],
     'val1': ['p', 'q', 'r', 's']}
b = pd.DataFrame(d)
 
# right outer join
df = pd.merge(a, b, on='id', how='right')
 
# display dataframe
df

## Outer Join
![alt](Images/OutterJoin.png)

In [ ]:
# Creating dataframe a
a = pd.DataFrame()
 
# Creating Dictionary
d = {'id': [1, 2, 10, 12],
     'val1': ['a', 'b', 'c', 'd']}
 
a = pd.DataFrame(d)
 
# Creating dataframe b
b = pd.DataFrame()
 
# Creating dictionary
d = {'id': [1, 2, 9, 8],
     'val1': ['p', 'q', 'r', 's']}
b = pd.DataFrame(d)
 
# full outer join
df = pd.merge(a, b, on='id', how='outer')
 
# display dataframe
df

## Index Join
To merge the Dataframe on indices pass the left_index and right_index arguments as True i.e. both the Dataframes are merged on an index using default Inner Join.

In [ ]:
# Creating dataframe a
a = pd.DataFrame()
 
# Creating Dictionary
d = {'id': [1, 2, 10, 12],
     'val1': ['a', 'b', 'c', 'd']}
 
a = pd.DataFrame(d)
 
# Creating dataframe b
b = pd.DataFrame()
 
# Creating dictionary
d = {'id': [1, 2, 9, 8],
     'val1': ['p', 'q', 'r', 's']}
b = pd.DataFrame(d)
 
# index join
df = pd.merge(a, b, left_index=True, right_index=True)
 
# display dataframe
df